span.header__app{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    color:#fff;
    font-size:30px;
}
h4, p {
    padding: 0;
    margin: 0;
}
span.main__header-green {
    color:#4DC55A;
    font-size:30px;
    font-weight: bold;
}
.application__header-text {
    color:#fff;
    max-width: 1050px;
    text-align: center;
    font-size: 16px;
}
ul {
    list-style: none;
}
.status-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.status {
    width: 70%;
    display: flex;
    gap: 20px
}
.status-left-container ul {
    display: flex;
    flex-direction: column;
    gap:26px;
}
.statuc-el {
    display: flex;
    align-items: center;
    align-items: start;
    gap:30px
}
.status-line {
    width: 1px;
    height: 80px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 20px;
}

.status-image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap:30px;
}
.status-text-container {
    color:#fff;
    height: 100%!important;
    max-width: 370px;
    margin-top: -15px;
}
.status-text-container h4 {
    font-size: 24px;
    line-height: 142%;
    background: linear-gradient(180deg, #07570f 12.56%, #0d1b0e 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:24px;
    font-weight: bold;
    max-width: 180px;
}
.status-text-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: linear-gradient(180deg, #07570f 12.56%, #0d1b0e 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.status-text-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.status-text-header span {
    background: linear-gradient(180deg, #07570f 12.56%, #0d1b0e 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:60px;
    font-weight: bold;
}
.status-right-container button:first-child {
    padding: 8px 63px;
}
.status-right-container a{
    text-decoration: none;
    background: #d9d9d906;
    border-radius: 30px;
    border:1px solid #96E99E10;
    color:#fff;
    padding: 8px 34px;
    cursor: pointer;
}
.status-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.active .status-text-container h4,
.active .status-text-container p{ 
    color: #fff !important;
    background: none;
    background-clip:border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: aliceblue;
}
.active .status-text-container span{ 
    color: #4DC55A !important;
    background: none;
    background-clip: none;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #4DC55A;
}